
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Homeplan solutions administrator</title>
  <!-- BOOTSTRAP STYLES-->
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <!-- FONTAWESOME STYLES-->
  <link href="assets/css/font-awesome.css" rel="stylesheet" />
  <!-- MORRIS CHART STYLES-->
  <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
  <!-- CUSTOM STYLES-->
  <link href="assets/css/custom.css" rel="stylesheet" />
  <!-- GOOGLE FONTS-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="wrapper">
<!-- /. NAV TOP  -->
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li class="text-center">
          <img src="assets/img/logo.png" class="user-image img-responsive"/>
        </li>
        <li>
          <a href="index.html">Categories add/list</a>
        </li>
        <li>
          <a href="brand.html">Brands add/list</a>
        </li>
        <li>
          <a  href="group.html">Group add/list</a>
        </li>
        <li>
          <a  href="product.html">Product add/list</a>
        </li>
        <li>
          <a  href="supplier.html">Supplier add/list</a>
        </li>
        <li>
          <a  class="active-menu" href="usercontact.html">User contact history</a>
        </li>
        <li>
          <a  href="vendororder.html">Vendor orders add/list</a>
        </li>
        <li>
          <a  href="vendordetails.html">Vendor order details add/list</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /. NAV SIDE  -->
  <div id="page-wrapper" >
    <div id="page-inner">
      <div class="row">
        <div class="col-md-12">
          <h2>Dashboard</h2>
        </div>
      </div>     
    <!-- /. ROW  -->
      <hr />
      <div class="row">
        <div class="col-md-12">
        <!-- Advanced Tables -->
          <div class="panel panel-default">
            <div class="panel-heading">
            User Contact history
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                  <tr>
                    <th>User ID</th>
                    <th>User Name Name</th>
                    <th>Contact date</th>
                    <th>Regarding order</th>
                    <th>Project ID</th>
                    <th>Contact type</th>
                    <th>Message detail</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr class="odd gradeX">
                      <td style="width:5%";>12344</td>
                      <td style="width:20%";>Ramirez Chand</td>
                      <td style="width:20%";>15th Jan 2011</td>
                      <td style="width:20%";>1233454</td>
                      <td style="width:20%";>7738978</td>
                      <td style="width:20%";>Email</td>
                      <td style="width:20%";>Hello there, we're here to contact you. Please respond.</td>
                      <td style="width:5%";class="center"><a href=""><img src="assets/img/edit.png" width="16" height="16"></a></td>
                      <td style="width:5%";class="center"><a href=""><img src="assets/img/delete.gif" width="16" height="16"></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--End Advanced Tables -->
        </div>
      </div>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->



<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="assets/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="assets/js/jquery.metisMenu.js"></script>
<!-- MORRIS CHART SCRIPTS -->
<script src="assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="assets/js/morris/morris.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="assets/js/custom.js"></script>
</body>
</html>